*{
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.antet {
    overflow: hidden;
    background-color: #070f35;
}
.antet a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
.antet a.right{
    float:right;
}
.antet a:hover {
    background-color: #ddd;
    color: black;
}
.header{
    text-align: center;
    margin:auto;
    padding:17%;
    background-image: url("header.webp");
}
.row {  
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
.side{
    -ms-flex: 30%;
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}
.main {   
    -ms-flex: 70%;
    flex: 70%;
    background-color: white;
    padding: 20px;
  }
h2{
    text-align: center;
}
.logo{
    width: 35px;
    height:35px;
    margin-left:2%
}
.projectName{
    font-size:100px;
}
