*{
    box-sizing: border-box;
}

body{
    background-image: url("registerBackground.png");
}

.form{
    margin:auto;
    padding: 10px;
    width:50%;
    text-align: center;
    background-color: rgba(255,255 ,255, .8);
    width: 300px;
    border-radius:8px;
}
.registerButton
{
    border-radius: 8px;
    font-size:20px;
    height:30px;
}

.registerButton:hover{
    background-color: pink;
}

